body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
}

.search-box {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#search-input {
    width: 70%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 4px 0 0 4px;
    font-size: 16px;
}

#search-button {
    padding: 10px 20px;
    border: none;
    background-color: tomato;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    margin-left: 10px;
}

#search-button:hover {
    background-color: #218838;
}

.results {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.meal {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    cursor: pointer;
    transition: transform 0.2s;
    max-width: 200px;
}

.meal:hover {
    transform: scale(1.05);
}

.meal img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.meal h2 {
    font-size: 18px;
    color: #333;
    text-align: center;
}

.meal-details {
    display: none;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.meal-details img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}

.meal-details h2 {
    font-size: 24px;
    color: #333;
}

.meal-details p {
    font-size: 16px;
    color: #666;
}

.meal-details ul {
    list-style-type: none;
    padding: 0;
}

.meal-details ul li {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}
.cart {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-top: 20px;
    display: none;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.cart h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.cart img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.cart p {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.cart ul {
    list-style-type: none;
    padding: 0;
}

.cart ul li {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}
